@tailwind base;
@tailwind components;
@tailwind utilities;

.font-roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.font-rubik-dirt {
  font-family: "Rubik Dirt", cursive;
  font-weight: 400;
}

.font-montserrat-extrabold {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

@keyframes hero-fadeup {
  0% {
    opacity: 0;
    transform: translateY(32px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-hero-fadeup {
  animation: hero-fadeup 0.4s cubic-bezier(0.4, 0, 0.2, 1) both;
}

@keyframes hero-fadedown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(32px);
  }
}

.animate-hero-fadedown {
  animation: hero-fadedown 0.4s cubic-bezier(0.4, 0, 0.2, 1) both;
}
